ROCKETCHAT_PASSWORD="example";
export ROCKETCHAT_PASSWORD;

export KB_APIKEY=example

MYSQL_PASSWORD='example';
export MYSQL_PASSWORD;

GITLAB_TOKEN='example';
export GITLAB_TOKEN;

SMS_USERNAME='example';
export SMS_USERNAME;
SMS_PASSWORD='example';
export SMS_PASSWORD;

export HUBOT_YOUTUBE_API_KEY='example';
